
.eyeicon{
  position: absolute;
  right: 15px;
  font-size:1.2em;
}
.my-links
{
  text-decoration: underline !important;
  color: rgb(0, 102, 255);
}
.login-section{
  background-color: #fff;
  min-height: 90vh;
  display: flex;
  align-items: center;
  width: 100%;
}
.forgot-section{
  min-height: 90vh;
  background-color: #fff;
  align-items: center;
}
.verify-section{
  min-height: 90vh;
  background-color: #fff;
  align-items: center;
}
.update-section{
  min-height: 90vh;
  background-color: #fff;
  align-items: center;
}
