.title_news {
  color: #444;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 16px;
  margin-bottom: 11px;
}
.channel_name {
  font-size: 10px;
  margin-top: 2px;
  text-decoration: underline;
}

.news_date {
  font-size: 12px;
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-news {
  cursor: pointer;
}
.news-channel{
  font-weight: 500;
  color: #698ac1;
}
.image-thumbnail{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: rgb(239, 239, 239);
    height: calc(((100vw - 16px) * 52) / 100);
    width: 100%;
}
.bigNewsImage{
  position: absolute;
  width: 100%;
  height:100%;
  display: block;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #eee;
}
.bigNewsImage::after{
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.newNewsLabel {
  width: 25px;
  height: 11px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 32 14%22%3E%3Cpath d%3D%22M24.6 14H7a7 7 0 01-7-7 7 7 0 017-7h17.6a7 7 0 017 7 7 7 0 01-7 7z%22 fill-rule%3D%22evenodd%22 fill%3D%22%23fa0%22%2F%3E%3Cpath d%3D%22M4.5 3.2v7.6H6V4.6l2.9 6.2h2.3V3.2H9.7v6.1L6.9 3.2H4.5zm7.7 0v7.6h5.1V9.5h-3.4l-.1-2H17V6.2h-3.1V4.5h3.3V3.2h-5zm5.6 0l2 7.6h1.8L23.1 5l1.3 5.8h1.9l1.8-7.6h-1.6l-1.1 5.9-1.3-5.9h-1.9l-1.5 5.9-1.1-5.9h-1.8z%22 fill-rule%3D%22evenodd%22 fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  display: inline-block;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  line-height: 1;
}