
.smallNewsArticle {
  display: -webkit-flex;
  display: flex;
  padding: 4px 8px;
  -webkit-align-items: center;
  align-items: space-between;
  padding: 4px 8px;
  background-color: #fff;
  cursor: pointer;
}
.Image{
  height: inherit;
  margin: auto 0;
}
.smallArticleImage {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #eee;
}

.newsContent{
  margin: 0px 0px 0px 5px;
  border-bottom: 2px solid #eee;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsContent > h1{
  color: #444;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  text-align: justify;
  margin-top: -2px;
}
.newsDate{
  font-size: 11px;
  color: rgba(0,0,0,.43);
  padding-right: 5px;
}
.newsContent ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.comments-icon{
  padding:0px 5px;
}
.comments-icon>svg{
  font-size: 14px;
  color: grey;
}
.counter-comments{
font-size: 12px;
padding-left: 3px;
color: grey;

}
.viewIcon{
  padding-left: 6px;
}
.viewIcon>svg{
font-size: 15px;
color: grey;
}
.counter-views{
  font-size: 12px;
padding-left: 4px;
color: grey;
}
.dynamic-values{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.news-channel{
  font-weight: 500;
  color: #698ac1;
}

.small-news-title
{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.w-1rem
{
  width: 1rem;
}
.breadcrumb-items-container
{
  padding: 10px;
  font-size: 13px;
  margin: 10px 0px;
}